@import '../../../public/css/color.scss';

.developer-name::before {
  background-color: $secondary;
  content: '';
  position: absolute;
  left: 0;
  top: 29px;
  height: 4px;
  width: 40px;
  border-radius: 10px;
}

.orange-bg {
  background: rgb(255, 180, 0);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 500;
}

.black-bg {
  background: #111;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 40% 60%;
  clip-path: polygon(9% 0, 100% 0, 100% 100%, 26% 100%);
  z-index: 700;
}

.main {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid-template-columns: 40% 60%;
  z-index: 3000;
}

.btn-more {
  border: 1px solid $secondary;
  color: white;
  padding: 10px 35px;
  border-radius: 40px;
  width: 35%;
  font-family: Poppins, sans-serif;

  &span {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    color: #fff;
    border-radius: 50%;
  }

  &span::before {
    content: '\f061';
  }
}

.developer-name {
  color: $secondary;
  font-size: 2.8em;
  margin-bottom: -2%;
}

.developer-title,
.developer-desc {
  padding-bottom: 2%;
}

.developer-title,
.developer-desc {
  color: white;
}

.developer-name,
.developer-title {
  font-weight: 900;
  font-family: Poppins, sans-serif;
}

.developer-desc {
  line-height: 2.1;
  font-family: Poppins, sans-serif;
}

.developer-title {
  font-size: 2.3em;
}

.right-content {
  width: 80%;
  padding-top: 25%;
  padding-left: 10%;

  &h1 {
    padding-bottom: 5%;
  }

  &p {
    margin-bottom: 10%;
  }
}

.left-content {
  background-color: $primary-second;
  box-shadow: 0 0 7px rgb(0 0 0 / 90%);
  height: 85%;
  margin-top: 10%;
  width: 68%;
  overflow: hidden;
  margin-left: 15%;
  background-image: url(../../assets/img/olumide.jpg);
  background-size: cover;
  background-position: bottom;
  border-radius: 20px;
}

.left-content-img {
  background-position: center;
}

.footer-date {
  color: $primary-white;
  position: fixed;
  bottom: 5px;
  left: 50%;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}
