@import '../../../public/css/color.scss';

.side-bar {
  z-index: 3500 !important;
  position: fixed;
  right: 2%;
  top: 25%;
}

.sidebar-icon {
  font-size: 1.3rem;
  color: $primary-white;
  background-color: $primary-second;
  z-index: 3500;
  margin-bottom: 60%;
  padding: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-icon-active {
  transition: 0.5s ease-in-out;
  color: white;
  background-color: $secondary;
  font-size: 1.3rem;
  z-index: 3500;
  margin-bottom: 60%;
  padding: 13px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 540px) {
  .side-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12%;
    right: 22%;
    // top: 0%;
    // right: 0;
    // left: 0;
    bottom: 0;
    // background-color: $primary-nav;
    background-size: cover;
    background-attachment: cover;
    // width: 100% !important;
    // max-width: 100% !important;
    margin-top: 80%;
    padding-top: 4%;
    margin-right: 13%;
  }

  .sidebar-icon,
  .sidebar-icon-active {
    font-size: 1.2rem;
    margin-bottom: 60%;
    // margin-left: 10%;
    // width: 63%;
    // height: 52%;
  }
}
